body{
    background-color: black;
}
h1{
    color:rebeccapurple;
}
p{
    color:rgb(255,0,0);
    font-family: monospace;
}
.color{
    color:#4df
}
#primerlista{
    font-size: 10;
    font-family: fantasy;
    color:fuchsia;
}